<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/bootstrap.ejs') -%>

    <title>Update Item Page</title>
    
    <link  href="../assets/style.css" rel="stylesheet" type="text/css">
    
</head>

<body> 
    
    <header>
        <%- include ('partials/navbar.ejs') -%>
    </header>
    <br>
    <% if(typeof loop !== 'undefined'){ %>
      <% for(let i = 0 ; i< loop; i++){ %>
    <div class="container">
        <form class="row g-3" method="POST" action="/api/updating_item">
            <div class="col-auto" title="ID">
              <label for="staticEmail2" class="visually-hidden"></label>
              <input type="text" readonly class="form-control-plaintext" id="id" name="id" value="<%= productArrayEjs[i].idEjs %>">
            </div>
            <div class="col-auto" title="Name">
              <label for="inputPassword2" class="visually-hidden">Name</label>
              <input type="text" class="form-control" id="inputName" name="inputName" value="<%= productArrayEjs[i].nameEjs %>">
            </div>
            <div class="col-auto" title="Quantity">
                <label for="inputPassword2" class="visually-hidden">Quantity</label>
                <input type="number" class="form-control" id="inputQuantity" name="inputQuantity" value="<%= productArrayEjs[i].quantityEjs %>" min="0">
              </div>
              <div class="col-auto" title="Category">
                <select name="categories" id="categories" class="form-select">
                    <option selected><%= productArrayEjs[i].typeEjs %></option>
                    <option value="1">Food</option>
                    <option value="2">Clothing</option>
                    <option value="3">Cleaning</option>
                  </select>
              </div>

              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
              
          </form>      
    </div>
    
    <br>
      <% } %>
    <% } %>

    <% if(typeof warning !== "undefined"){ %>
    <h1 style="text-align: center; color:red;"><%= warning %></h1>
    <a style="font-size:24px;" href="/updating_item"> Go back to the stock.</a>
    <% } %>
    <% if(typeof success !== "undefined"){ %>
      <h1 style="text-align: center; color:red;"><%= success %></h1>
      <div class="col-auto">
        <a style="font-size:24px;" href="/api/updating_item"> Go back to the stock.</a>
      </div>
      <% } %>
</body>
</html>